@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Nunito&family=Roboto&display=swap');
body {
  background-color: #eee;
  font-family:"Nunito";
}

#main h1{
  color:#444;
  text-align:center;
}

#main{
  padding:0;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
}

#book-list{
  padding: 0;
}

#book-list li{
  display: inline-block;
  margin: 12px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #880E4F;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
  cursor: pointer;
  color: #880E4F;
}

form{
  background: #fff;
  padding: 20px;
  position: fixed;
  left:0;
  bottom: 0;
  width: 400px;
}


form .field{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

form label{
  text-align: right;
  padding:6px;
}

form select,form input {
  margin: 4px;
  padding: 6px;
  box-sizing: border-box;
}

form button{
  color: #fff;
  background: #Ad1457;
  font-size: 2em;
  border: 0;
  padding: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#book-details{
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background: #Ad1457;
  padding: 30px;
  overflow: auto;
  box-shadow: -2px -3px 5px rgba(0,0,0,0.3);
  box-sizing: border-box;
  color: #fff;

}
















.alert {
  width: 394px;
  height: 96px;
  box-shadow: 0px 4px 16px rgba(51, 51, 51, 0.08), 0px 4px 4px rgba(51, 51, 51, 0.04);
  border-radius: 8px;
  background-color: #ffffff;
  padding: 20px 24px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.alert-c {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alert-p {
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  line-height: 119%;
  color: #000000;
}


.note-c-green {
  position: relative;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 2px solid #82c43c;
}

.note-c-blue {
  position: relative;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 2px solid #50b5ff;
}

.note-c-red {
  position: relative;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 2px solid #fc5a5a;
}

.note-c-yellow {
  position: relative;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 2px solid #ffc542;;
}

.svgsvg {
  width: 20px;
  height: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}